@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


ul{
  list-style: none;
}

body{
  background-color: #e9e6e646;
}

.Link{
  text-decoration: none;
  color: black;
}

.container{
  margin: 30px;
  background-color: rgb(228, 228, 228);
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title{
  margin: 5px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 70vh;
}
button{
  background-color: rgba(42, 66, 96, 0.533);
  font-size: 20px;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.post{
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
}

.post > p{
  font-size: 20px;
}
.blog{
  margin: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* padding: 30px; */

}

@media screen and (max-width: 576px)  {
  .blog{
      margin: 5px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  }
}
button:hover{
  background-color: rgba(100, 103, 106, 0.533);

}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



